@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.name {
  font-size: 5vmax;
  line-height: 2em;
  margin: 0;
  padding: 1vw;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://b.rgbimg.com/users/b/ba/ba1969/600/2dRXRJT.jpg);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  -webkit-animation: zoomout 10s ease 500ms forwards;
          animation: zoomout 10s ease 500ms forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes zoomout {
  0% {
    background-size: 40%;
  }
  50% {
    background-size: 10%;
  }
  100% {
    background-size: 40%;
  }
}

@keyframes zoomout {
  0% {
    background-size: 40%;
  }
  50% {
    background-size: 10%;
  }
  100% {
    background-size: 40%;
  }
}

table, th, td {
  border: 1px solid black;
  width: auto;
  height: auto;
  overflow: hidden;
}

th {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vw;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  -webkit-box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  overflow: hidden;
}

.article-details {
  padding: 1.5rem;
  width: 50vh;
}

.post-category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 0.125rem solid #ebebeb;
}

.post-title {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #121212;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.post-author {
  font-size: 0.875rem;
  line-height: 1;
  margin: 1.125rem 0 0 0;
  padding: 1.125rem 0 0 0;
  border-top: 0.0625rem solid #ebebeb;
}

@media (max-width: 40rem) {
  #container {
    width: 18rem;
    height: 27.25rem;
  }
  .blog-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@supports (display: grid) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
        grid-template-areas: ". main main ." ". main main .";
  }
  #container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: main;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .blog-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  @media (max-width: 40rem) {
    .blog-card {
      -ms-grid-columns: auto;
          grid-template-columns: auto;
      -ms-grid-rows: 12rem 1fr;
          grid-template-rows: 12rem 1fr;
    }
  }
}
/*# sourceMappingURL=styles.css.map */