@import './variables';

.container-home {
    background-color: $white;
    // padding: 0 30px;
    width: 100%;

    // NAVBAR-CONTAINER
    .navbar {
        background-color: #8236CB;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        h2 {
            color: $white;
            button {
                visibility: hidden;
            }
        }
    
        .nav-list {
            align-items: center;
            display: flex;
            justify-content: space-between;
    
            #nav-links {
                align-items: center;
                display: flex;
                height: fit-content;
                list-style: none;
                // margin: 0 0 20px 0;
                padding: 0;
                visibility: visible;
                width: fit-content;
    
                li {
                    height: fit-content;
                    margin: 0 0 0 10px;
                    padding: 10px;
                    transition: all 0.25s ease-in-out;
                    // width: 100%;
    
                    a {
                        color: $white;
                        font-weight: 500;
                        text-decoration: none;
                    }
    
                    &:hover {
                        background-color: #ED50F1;
                    }
                }
            }
    
            #signup {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }
    
    // HOMEPAGE
    .homeBg {
        align-items: center;
        // background: linear-gradient(90deg, rgba(130,54,203,1) 0%, rgba(253,185,252,1) 50%, rgba(130,54,203,1) 100%);
        display: flex;
        justify-content: center;
        background-image: url("../images/transparentBg.png");
        // background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // border-bottom: 10px solid red;
        height: 425px;
        width: 100%;
    }

    hr {
        border-top: 15px solid #8236CB;
        margin: 0;
    }
}

@media screen and (max-width: 376px) {
    .container-home {
        width: 100%;

        .navbar {
            flex-direction: column;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 0;
                button {
                    background: none;
                    border: none;
                    // margin-top: 5px;
                    float: right;
                    font-size: 1.5rem;
                    height: 33px;
                    visibility: visible;
                    width: 33px;
                }
            }
            
            .nav-list {
                flex-direction: column;
                transition: all 0.1s ease-in-out;

                #nav-links {
                    height: auto;
                    flex-direction: column;
                    margin: 0 0 20px 0;
                    text-align: center;
                    width: 100%;
                    visibility: hidden;
                    transition: all 0.01s ease-in-out;

                    li {
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}