.login {
    background-color: #FFFFFF;
    // border-radius: 1.5em;
    // box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    font-family: 'Ubuntu', sans-serif;
    height: auto;
    margin: 7em auto;
    width: 400px;

    .sign{
        padding-top: 40px;
        color: #8236CB;
        // font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }
    
    form.form1 {
        // padding-top: 30px;
        // padding-bottom: 10px;
        // padding: 30px 0 10px 0;
        position: relative;
        
        .un {
            // background: rgba(136, 126, 126, 0.04);
            background-color: #f3e8fa;
            // border: none;
            border: 2px solid rgba(0, 0, 0, 0.02);
            border-radius: 20px;
            box-sizing: border-box;
            // font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            // margin-bottom: 50px;
            margin-left: 46px;
            margin-bottom: 27px;
            outline: none;
            padding: 10px 20px;
            text-align: center;
            width: 76%;
            }
            
        // p {
        //     margin: 0;
        // }
            
        .pass {
            background: #f3e8fa;
            border: 2px solid rgba(0, 0, 0, 0.02);
            border-radius: 20px;
            box-sizing: border-box;
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            // margin-bottom: 50px;
            margin-bottom: 27px;
            margin-left: 46px;
            outline: none;
            padding: 10px 20px;
            // border: none;
            text-align: center;
            // font-family: 'Ubuntu', sans-serif;
        }
            
        .submit {
            background: none;
            border: 1px solid #8236CB;
            border-radius: 5em;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
            color: #8236CB;
            cursor: pointer;
            font-size: 1.25rem;
            padding: 10px 40px;
            margin-left: 32%;
            margin-bottom: 0;
            // margin-top: 0;
            transition: all 0.25s ease-in-out;

            &:hover {
                background-color: #8236CB;
                color: #FFFFFF;
            }
        }

        div {
            background-color: #8236CB;
            margin-top: 50px;
            padding: 15px 0;

            #forgot {
                color: #E1BEE7;
                margin: 0;
                // text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            }
            #make-account {
                margin: 10px 0 0;
            }
        }

        .route {
            background-color: #8236CB;
            margin: 20px 0 0;
            padding: 20px 0;
        }
        
        a {
            color: #E1BEE7;
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            text-decoration: none;
            transition: all 0.25s ease-in-out;

            &:hover {
                color: #FFFFFF;
            }
            
        }

        .un:focus, .pass:focus {
            border: 2px solid #8236CB !important;
        }
        
    }
    
}
  
@media (max-width: 376px) {
    .login {
        width: 350px;
        height: auto;
    
        .sign{
            font-size: 23px;
        }
        
        form.form1 {
            
            .un {
                width: 76%;
            }

            .pass {
                width: 76%;
            }
                
            .submit {
                cursor: pointer;
            }
    
            
            .forgot {
                color: #E1BEE7;
            }
            
            a {
                color: #E1BEE7;
                
            }
    
            .un:focus, .pass:focus {
                border: 2px solid rgba(0, 0, 0, 0.18) !important;
                
            }
            
        }
        
    }
}  