table, td, th {
    border: 1px solid black;
}

th {
    padding: 2vw;
}
 table {
    margin: 5vh;
}

@media screen and (max-width: 376px) {
    table, td, th {
        border: 0.5px solid black;
    }
    
    th {
        padding: 0.5vw;
    }
}