@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './variables';
@import './header';
@import './home';
@import './table';
@import './student';
@import './login';

body {
  background-color: #F3F1F5;
  height: 100vh;
  padding: 0 30px;
  // width: 100%;
}

@media screen and (max-width: 376px) {
  body {
    padding: 0;
  }
}