@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.container-home {
  background-color: #fff;
  width: 100%;
}

.container-home .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.container-home .navbar h2 button {
  visibility: hidden;
}

.container-home .navbar .nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-home .navbar .nav-list #nav-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  padding: 0;
  visibility: visible;
}

.container-home .navbar .nav-list #nav-links li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 0 10px;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.container-home .navbar .nav-list #nav-links li a {
  color: #121212;
  font-weight: 500;
  text-decoration: none;
}

.container-home .navbar .nav-list #nav-links li:hover {
  background-color: #F7F6F2;
}

.container-home .navbar .nav-list #signup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home .homeBg {
  background-image: url("../images/homeBg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  width: 100%;
}

.container-home hr {
  border-top: 15px solid #8236CB;
  margin: 0;
}

@media screen and (max-width: 376px) {
  .container-home {
    width: 100%;
  }
  .container-home .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .container-home .navbar h2 {
    margin-bottom: 0;
  }
  .container-home .navbar h2 button {
    background: none;
    border: none;
    float: right;
    font-size: 1.5rem;
    height: 33px;
    visibility: visible;
    width: 33px;
  }
  .container-home .navbar .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .container-home .navbar .nav-list #nav-links {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
    visibility: hidden;
    -webkit-transition: all 0.01s ease-in-out;
    transition: all 0.01s ease-in-out;
  }
  .container-home .navbar .nav-list #nav-links li {
    margin: 0;
    width: 100%;
  }
}

.container-home .buttons {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.container-home .buttons button {
  background: none;
  border: 1px solid #8236CB;
  border-radius: 50px;
  color: #8236CB;
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 10px 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  text-decoration: none;
}

.container-home .buttons button:hover {
  background: #8236CB;
  color: #fff;
  cursor: pointer;
}

.container-home .container-notice {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: auto;
  width: 70%;
}

.container-home .container-notice #container-notice {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-home .container-notice #container-notice h1 {
  text-align: center;
}

.container-home .container-notice #container-notice .notice-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home .container-notice #container-notice .notice-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-home .container-notice #container-notice .notice-div ul li {
  background-color: #F3F1F5;
  padding: 5px 0;
  margin: 0 0 10px 0;
}

.container-home .container-notice img {
  height: 85%;
  position: absolute;
  top: 130px;
  visibility: hidden;
  width: 90%;
}

.container-home .container-notice Link {
  text-decoration: none;
}

.container-home h1, .container-home p {
  padding: 0 30px;
}

.container-home .footer {
  background-color: #8236CB;
  color: #170055;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
}

.container-home .footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-home .footer span p {
  margin: 0;
  padding: 0 10px;
}

.container-home .footer span #footer-mid {
  border-left: 1px solid #170055;
  border-right: 1px solid #170055;
}

@media screen and (max-width: 376px) {
  .container-home h1, .container-home p {
    text-align: center;
  }
  .container-home .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-home .buttons button {
    width: 150px;
  }
  .container-home .buttons button a {
    text-decoration: none;
  }
  .container-home .container-notice {
    text-align: center;
    width: 95%;
  }
  .container-home .container-notice #container-notice h1 {
    text-align: center;
  }
  .container-home .container-notice #container-notice .notice-div ul {
    list-style: none;
  }
  .container-home .container-notice img {
    height: 40%;
    top: 375px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 200%;
  }
  .container-home .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container-home .footer span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
  .container-home .footer span p {
    margin: 0;
    padding: 0 10px;
  }
  .container-home .footer span #footer-mid {
    border: none;
  }
}

table, td, th {
  border: 1px solid black;
}

th {
  padding: 2vw;
}

table {
  margin: 5vh;
}

.container-home #search-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-home #search-bar input {
  background-color: #f3e8fa;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 1.25rem;
  height: 35px;
  outline: none;
  padding: 0 15px;
  width: 250px;
}

.container-home #search-bar button {
  background: none;
  border: 1px solid #8236CB;
  border-radius: 0 50px 50px 0;
  height: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 40px;
}

.container-home #search-bar button:hover {
  background: #8236CB;
  color: #fff;
  cursor: pointer;
}

.container-home .container-students {
  -webkit-column-gap: 25px;
          column-gap: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 25px auto;
  row-gap: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-home .container-students #student-card {
  background-color: #F3F1F5;
  padding: 20px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-home .container-students #student-card img {
  height: auto;
  width: 150px;
}

.container-home .container-students #student-card h3 {
  margin: 10px 0 0 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.container-home .container-students #student-card h3:hover {
  color: #8236CB;
  cursor: pointer;
}

.container-home .container-students #student-card p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 376px) {
  .container-home .container-students {
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 25px;
  }
  .container-home .container-students #student-card {
    padding: 5px;
  }
}

@media screen and (min-width: 377px) and (max-width: 900px) {
  .container-home .container-students {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 25px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
  .container-home .container-students {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 25px;
  }
}

body {
  background-color: #F3F1F5;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 30px;
}

@media screen and (max-width: 376px) {
  body {
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */